<!DOCTYPE html>
<html>
<head>
  <!-- General metadata -->
  <meta charset="utf-8" />
  <meta name="description" content="The Information Security Talent Search is an annual Red/Blue team security competition." />
  <meta name="author" content="Sean Newman" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Social media stuff -->
  <!-- TODO: update og:title value -->
  <meta property="og:title" content="ISTS" />
  <!-- TODO: update og:description value -->
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <!-- TODO: update og:image value -->
  <meta property="og:image" content="" />
  <!-- TODO: update og:url value -->
  <meta property="og:url" content="" />

  {% if title %}
  <title>{{ title }} - ISTS</title>
  {% else %}
  <title>ISTS</title>
  {% endif %}

  <!-- Links -->
  <link rel="stylesheet" href="{{ url_for('static', filename='ists.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  {% block scripts %}{% endblock %}
</head>
<body>
<header>
  <nav>
    <ul>
      <li class="logo">
        <img src="{{ url_for('static', filename='img/ritsec-logo.png') }}" alt="RITSEC Logo" height="12" width="50" />
      </li>
      <li><a href="{{ url_for('root.index') }}">Home</a></li>
      <li><a href="{{ url_for('root.about') }}">About</a></li>
      <li><a href="{{ url_for('root.news') }}">News</a></li>
      <li><a href="{{ url_for('root.register') }}">Register</a></li>
      <li><a href="{{ url_for('archive.index') }}">Archive</a></li>
    </ul>
  </nav>
</header>
<main>
  {% block content %}{% endblock %}
</main>
</body>
</html>
