.register-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-size: 1%;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 2rem;
    color: #e69138;

    h2 {
      font-size: 1.5rem;
    }

    a {
      color: inherit;
    }

    a:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    span a:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }

  .info {
    h1,
    h3 {
      margin: 0.5rem;
    }

    p {
      max-width: 20rem;
    }
  }
}
