<nav>
  <ul>
    <li class="logo">
      <li><a href="https://www.ritsec.club"><img src="/static/img/ritsec-logo.png" alt="RITSEC Logo" height="12" width="50" /></a></li>
    </li>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/sponsors">Sponsors</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/archive">Archive</a></li>
  </ul>
</nav>
<!--<img src="/static/img/ritsec-logo.png" alt="RITSEC Logo" height="12" width="50" />-->