.register-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-size: 1%;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 2rem;
    color: #e69138;

    h2 {
      font-size: 1.5rem;
    }

    a,
    p {
      color: inherit;
      width: auto;
      display: inline;
    }

    a:not(:last-child),
    p:not(:last-child),
    span:not(:last-child) {
      margin-bottom: 2rem;
    }

    span a:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }
}

@media only screen and (max-width: 786px) {
  .register-container {
    overflow-y: overlay;
    flex-direction: column;
    justify-content: flex-start !important;
    padding-bottom: 3rem;
    box-sizing: border-box;

    div {
      text-align: center;

      h2 {
        margin-top: 4rem;
      }
    }
  }
}
