body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  overflow-x:hidden;
  scrollbar-base-color: black;
  scrollbar-arrow-color: red;
}

.jumbotron{
  background: rgba(40, 40, 40, 0);
  margin-left: auto;
  margin-right: auto;
  color:white;
  overflow-x:hidden;
}
.img-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(40, 40, 40, 0.7);
 }
.console
{
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}
.bgimg-1, .bgimg-3, .Contact .Schedule {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x:hidden;
}
.bgimg-1 {
  background-image: url("../img/world-large.png");
  height: 100%;
  width: 100%;
}
.bgimg-2 {
  background-image: url("../img/bg2.jpg");
  height: 50vh;
  background-size: 100% 100%;
  min-height: 50%;
  position: relative;
  font-size: 4vw;
}
.bgimg-3 {
  background-image: url("../img/ubu.jpg");
  min-height: 75%;
}
.bgimg-4 {
  background-color: #1c1c1c;
  color: #EEEEEE;
}
.bgimg-5 img{
  height: 100%;
  width: 100%;
}
.Schedule {
  background-image: url("../img/procexp.PNG");
  min-height: 40%;
}

.agenda {  }

/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  color: #EEEEEE;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px;
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em;
}

/* Times */
.agenda .agenda-time { width: 140px; }

/* Events */
.agenda .agenda-events {  }
.agenda .agenda-events .agenda-event {  }

.Contact{
  background-color: #1c1c1c;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.pad-section {
  padding: 50px 0;
  background-color: #1c1c1c;
}
.pad-section img {
  width: 100%;
}
#aboutISTS {
  background-color: #1c1c1c;
  color: #EEEEEE;
  overflow-x:hidden;
}
#aboutISTS .glyphicon {
  border: 2px solid #EEEEEE;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}
.db-bk-color-one {
    background-color: #f55039;
}

.db-bk-color-two {
    background-color: #46A6F7;
}

.db-bk-color-three {
    background-color: #47887E;
}

.db-bk-color-six {
    background-color: #F59B24;
}
/*============================================================
PRICING STYLES
==========================================================*/
.db-padding-btm {
    padding-bottom: 50px;
}
.db-button-color-square {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

    .db-button-color-square:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.50);
        border: none;
    }


.db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
}

    .db-pricing-eleven ul {
        list-style: none;
        margin: 0;
        text-align: center;
        padding-left: 0px;
    }

        .db-pricing-eleven ul li {
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: pointer;
        }

            .db-pricing-eleven ul li i {
                margin-right: 5px;
            }


    .db-pricing-eleven .price {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 40px 20px 20px 20px;
        font-size: 60px;
        font-weight: 900;
        color: #FFFFFF;
    }

        .db-pricing-eleven .price small {
            color: #B8B8B8;
            display: block;
            font-size: 12px;
            margin-top: 22px;
        }

    .db-pricing-eleven .type {
        background-color: #52E89E;
        padding: 50px 20px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 30px;
    }

    .db-pricing-eleven .pricing-footer {
        padding: 20px;
    }

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
}

    .db-pricing-eleven.popular .price {
        padding-top: 80px;
    }
