<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>ISTS</title>
    {% endif %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body background="{{ url_for('static', filename='background.png') }}">

<div id="header">
    <div id="logo">
     <a href="{{ url_for('fourteen.index') }}"><img src="{{ url_for('static', filename='logo.png') }}" width="300" height="100"></a>
    </div>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('fourteen.index') }}">ISTS</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('fourteen.index') }}">Home</a></li>
      <li><a href="{{ url_for('fourteen.about') }}">About</a></li>
      <!-- <li><a href="#">ISTS {{ists_year}} Schedule</a></li> -->
      <li><a href="{{ url_for('fourteen.news') }}">News</a></li>
      <!-- <li><a href="#">Sponsors</a></li> -->
      <li><a href="{{ url_for('fourteen.sponsors') }}">Past Sponsors</a></li>
      <!--
      <li><a href="#">Downloads</a></li>
      <li><a href="#">Media</a></li>
      <li><a href="#">Contact</a></li>
      -->
    </ul>
  </div>
</nav>

<div class="container">
{% block content %}{% endblock %}
</div>

</body>
</html>
