{% extends "base.html" %}
{% block content %}
<div id="container" class="container">
    <div id="megarow" class="row">
        <div id="toprow" class="row" style="    background: -webkit-linear-gradient(left, white 0, white 75%, transparent 75%); ">
            <div class="col-md-6" style="text-align:center">
                <h1 style="text-align:center">ISTS<h1>
                <h2>The Information Security Talent Search</h2>
                <p>A college security competition designed and ran by students, for students. Don't your chance to be a part of this once-of-a-kind competition</p>
                <button type="button" class="btn btn-primary btn-lg">Learn More</button>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <img class="aligncenter" src="static/competition.jpg" width="387" height="300">
            </div>
        </div>
        <!-- Don't judge my css skills... Not sure of a better way to create a gap -->
        <div class="col-md-4"></div><div class="col-md-4"></div><div class="col-md-4"></div>
        <div class="col-md-4"></div><div class="col-md-4"></div><div class="col-md-4"></div>
        <div class="col-md-4"></div><div class="col-md-4"></div><div class="col-md-4"></div>
        <div class="col-md-4"></div><div class="col-md-4"></div><div class="col-md-4"></div>
        <div class="col-md-4"></div><div class="col-md-4"></div><div class="col-md-4"></div>
        <div class="col-md-4"></div><div class="col-md-4"></div><div class="col-md-4"></div>
        <div class="col-md-4"></div><div class="col-md-4"></div><div class="col-md-4"></div>
        <div class="col-md-4"></div><div class="col-md-4"></div><div class="col-md-4"></div>
        <div class="col-md-4"></div><div class="col-md-4"></div><div class="col-md-4"></div>
        <div class="col-md-4"></div><div class="col-md-4"></div><div class="col-md-4"></div>
        <div class="col-md-4"></div><div class="col-md-4"></div><div class="col-md-4"></div>
        <div class="col-md-4"></div><div class="col-md-4"></div><div class="col-md-4"></div>
        <div class="col-md-4"></div><div class="col-md-4"></div><div class="col-md-4"></div>

        <div id="bottomrow" class="row">
            <div class="col-md-3" style="background:white">
                <h2>Competition Dates</h2>
                <p>ISTS {{ists_year}} will be from March 6th - March 8th, {{year}}!</p>
            </div>
            <div class="col-xs-1"></div>
            <div class="col-md-3" style="background:white">
                <h2>Registration</h2>
                <p>Registration for ISTS {{ists_year}} has been closed!</p>
            </div>
            <div class="col-xs-1"></div>
            <div class="col-md-3" style="background:white">
                <h2>Sponsorship</h2>
                <p>Interested in sponsoring ISTS {{ists_year}}? We are currently actively seeking deals with sponsors for this year's competition. Please visit the sponsorship page for more information.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
